@model WebApplication4.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form action="@Url.Action("SaveUser", "Home")" method="post">
        <p>User Name: <input type="text" name="UserName" value="@Model.UserName" readonly/></p>
        <p>User Age: <input type="number" name="UserAge" value="@Model.UserAge" readonly/></p>
        <p>User Address: <input type="text" name="UserAdress" value="@Model.UserAdress" readonly/></p>
        <p>User Phone Number: <input type="text" name="UserPhoneNumber" value="@Model.UserPhoneNumber" readonly/></p>

        @for (int i = 0; i < Model.UserQ; i++) {
        <select name="SelectedPizzas" id="SelectedPizzas">
            <option value="Margherita">Margherita</option>
            <option value="Calzone">Calzone</option>
            <option value="Quattro Formaggi">Quattro Formaggi</option>
            <option value="Carbonara">Carbonara</option>
        </select><br>
        }
        <input type="submit" value="Save" />
    </form>
</body>
</html>
